html, body, .app {
  margin: 0;
  height: 100%;
  width: 100%;
  background: $dark-grey;
  color: $white;

  .content {
    min-height: 100%;
    width: 100%;
    padding-top: 3rem;
    .layout {
      min-height: 100%;
      width: 100%;
    }
  }
}
