.bio {
  padding: 3rem 0;
  background-color: $dark-grey;
  color: $white;
  .welcome__header {
    width: 50%;
    margin: 0 auto;
    margin-top: 9rem;
    text-align: center;
    font-size: 4rem;
  }

  .welcome__text {
    width: 50%;
    margin: 0 auto;
    margin-top: 1.5em;
    text-align: center;
    font-size: 1.5rem;
  }
}
