.bio {
  margin: 0 auto;
  padding-bottom: 3rem;

  .welcome__header {
    width: 50%;
    margin: 0 auto;
    padding-top: 12rem;
    text-align: center;
    font-size: 4rem;
  }

  .welcome__text {
    width: 50%;
    margin: 0 auto;
    margin-top: 1.5em;
    text-align: center;
    font-size: 1.5rem;
  }
}
