.contact {
  width: 100%;
  padding: 5rem;
  background-color: $light-blue;
  color: white;
  
  .fields__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .row {
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;

      .col-left {
        width: 7rem;
        padding-right: 1rem;
        align-items: center;
        display: flex;
        justify-content: flex-end;
      }

      .col-right {
        width: 15rem;
        input {
          height: 2rem;
          width: 100%;
        }
      }
    }
  }
}