.header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 3rem;
  background-color: $dark-grey;
  color: $white;
  overflow: hidden;

  .header__nav {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__title {
      display: inline-flex;
      font-size: 1.5rem;
      padding: .8rem 0;

      a {
        text-decoration: none;
      }
    }

    .header__items {
      display: inline-flex;
      float: right;
      height: 100%;

      & :after {
        clear: both;
      }

      .header__menu__item {
        display: inline-block;
        height: 100%;
        font-size: 1rem;
        padding: 1.15rem 0.7rem;
        cursor: pointer;

        a {
          text-decoration: none;
          padding: 0.8rem 0;
        }

        &:hover {
          border-bottom: thick solid $pink;
          color: $pink;
        }
      }

      .is-active {
        @extend .header__menu__item:hover;
      }

    }

    .mobile__menu {
      display: none;
    }
  }
}

@media all and (max-width: 480px) {
  .header {
    .header__nav {
      .header__items {
        display: none;
      }
      .mobile__menu {
        display: inline-flex;
        font-size: 1.5rem;
        align-content: flex-end;
      }
    }
  }
}
