.header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 3rem;
  background-color: $dark-grey;
  color: $white;
  display: flex;
  
  .header__nav {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .header__title {
      font-size: 1.5rem;

      a {
        text-decoration: none;
      }
    }

    .header__items {
      display: inline-flex;
      height: 100%;
      
      
      .header__menu__item {
        display: inline-flex;
        align-items: center;
        list-style: none;
        height: 100%;
        padding: 0 0.7rem;
        cursor: pointer;
        
        a {
          text-decoration: none;
        }

        &:hover {
          border-bottom: thick solid $pink;
          color: $pink;
        }
      }

      .is-active {
        @extend .header__menu__item:hover;
      }

    }

    .mobile__menu {
      display: none;
    }
  }
}

@media all and (max-width: 480px) {
  .header {
    .header__nav {
      .header__items {
        display: none;
      }
      .mobile__menu {
        display: inline-flex;
        font-size: 1.5rem;
        align-content: flex-end;
      }
    }
  }
}
