.projects {
  padding-top: 5rem;
  width: 100%;

  .projects__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: $dark-blue;
  }

  .project__list {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
    .project {
      display: flex;
      width: 50%;
      flex-direction: column;
      align-items: center;
        padding-bottom: 1rem;
      }
      .project__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.5;

        .project__stack {
          width: 100%;
          margin: 1rem 0;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            margin-left: .25rem;
          }

          .fa-react {
            color: $light-blue;
          }
  
          .fa-node-js {
            color: green;
          }
        }
        
        a {
          text-decoration: none;
          color: $white;

          button {
            border-radius: .5rem;
            padding: .5rem;
            cursor: pointer;
            opacity: .8;
            background-color:rgba(0, 166, 226, 0.8);

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

// modal styles for the different projects
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); // fallback color
  background-color: rgba(0,0,0,0.4); // Black with opacity

  &--open {
    @extend .modal;
    display: block;
  }
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 70%;
  margin: 0 auto;
  margin-top: 12rem;

  .modal-header {
    background-color: $dark-blue;
    color: $white;
    padding: 1rem 2rem;
    position: relative;

    .modal-header-title {
      display: inline-block;
      line-height: 3rem;
      font-size: 2.5rem;
    }

    .close {
      font-size: 2rem;
      line-height: 1.5rem;
    }
  }

  .modal-text {
    font-size: 1.2rem;
    padding: 0px 5rem;
  }
 }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
