.project__list {
  margin: 0 auto;
  margin-top: 3rem;
 
  .project__list__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }

  hr {
    margin-bottom: 2rem;
    height: .2rem;
    background: $dark-grey;
    border: none;
    border-radius: .7rem;
  }

  .project {
    background: $dark-blue;
    text-align: center;
    vertical-align: middle;
    display:  inline-block;
    margin:0 50px;
    margin-bottom: 5rem;
    cursor: pointer;
    z-index: 1;

    & .fade {
      opacity: 0;
    }

    .project__title {
      color: $white;
      font-size: 2rem;
      margin-top: 8rem;
    }
  }
  .project__active {
    @extend .project;
    text-align: left;
    color: $white;
  }
}

// modal styles for the different projects
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); // fallback color
  background-color: rgba(0,0,0,0.4); // Black with opacity

  &--open {
    @extend .modal;
    display: block;
  }
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 70%;
  margin: 0 auto;
  margin-top: 12rem;

  .modal-header {
    background-color: $dark-blue;
    color: $white;
    padding: 1rem 2rem;
    position: relative;

    .modal-header-title {
      display: inline-block;
      line-height: 3rem;
      font-size: 2.5rem;
    }

    .close {
      font-size: 2rem;
      line-height: 1.5rem;
    }
  }

  .modal-text {
    font-size: 1.2rem;
    padding: 0px 5rem;
  }
 }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
